body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    font-family: Arial, Helvetica, sans-serif;
}
.container
{
    width: 400px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    background: #fff;
}
#chat
{
    display: flex;
    flex-direction: column;
    height:400px;
    overflow-y: auto;
    border: none;
    border-radius: 10px;
    background: #3911111f;
}
.buttns
{
    display: flex;
    margin: 10px;
}
#msg
{
    flex: 1;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
}
#msg:hover
{
    background: #bbb5b577;
    color: black;
    transition: all 0.3s ease-in-out;
}
#send
{
    background: #2473c7;
    margin-left: 10px;
    height: 30px;
    border: none;
    width: 50px;
    border-radius: 10px;
}
#send:hover
{
    transform: scale(1.1);
    background: #053971;
    color: #fff;
}
#chat div
{
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}
#chat div:nth-child(even) {
    background: #f8d7da;
    align-self: flex-start;
    text-align: left;
}

#chat div:nth-child(odd) {
    background: #d1e7ff;
    text-align: right;
    align-self: flex-end;
}
@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(0);
    }
    to{
        opacity: 1;
        transform: translateY(25%);
    }
}
.show
{
    animation: fade 0.3s ease-in-out;
    opacity: 1;
}